nav {
  list-style: none;
  margin-bottom: 20px;
  overflow: auto;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(230, 230, 230, 0.3));

  li {
    float: left;

    a {
      display: block;
      padding: 12px 18px;
      text-decoration: none;
      color: #fff;
      border-bottom: 1px solid #eee;
      transition: all ease 0.5s;
    }
  }

  &:hover {
    li {
      a {
        opacity: 0.5;
        transition: all ease 0.5s;
      }

      &:hover {
        opacity: 1;
        color: #e74c3c;
        border-color: #e74c3c;
      }
    }
  }
}